body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent content overflow */
    background-color: black;
  }
  
  .star-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
  
  .star {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: white;
    animation: twinkle 1s infinite alternate;
  }
  